* {
  font-family: 'M PLUS 1p', sans-serif;
  word-break: break-all;
  color: #ededed;
  text-shadow: #414131 1px 1px;

  overscroll-behavior-y: none;
}

html {
  background: #000;
  line-height: 1.75;
}

body {
  margin: 0;
  overflow-x: hidden;
}
