.postList {
  --width: 100%;
  --height: 200px;
  --gap: 4px;

  --extra-width: 320px;
  --extra-height: 48px;

  width: 100%;

  position: relative;
  margin: 0 auto;
  padding: 0;

  box-sizing: border-box;
  overflow: hidden;

  display: grid;
  gap: var(--gap);
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (max-width: 1920px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 1280px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 640px) {
    grid-template-columns: 1fr;
  }
}
