.tags {
  width: calc(100% - var(--toc-w));
  margin: 0 auto;

  ul {
    text-align: center;

    li {
      display: inline-flex;
      padding: .25rem 1rem;
    }
  }
}

@media (max-width: 900px) {
  .tags {
    width: 100%;
  }
}
