.footer {
  margin-top: 2rem;
  margin-bottom: 1rem;

  & > * {
    width: fit-content;
    margin: 0 auto;
  }

  .decorationOpen {
    .left,
    .right {
      display: none;
      position: relative;
      width: 130px;
      vertical-align: unset;
    }

    .left {
      margin: 0 10px 0 0;
    }

    .center {
      display: inline-block;
      position: relative;
      width: 110px;
      margin: -30px 0 0;
      font-family: var(--font-niconne) !important;
      font-size: 32px;
      vertical-align: middle;
    }

    .right {
      margin: 0 0 0 10px;
    }
  }

  ul {
    display: flex;
    flex-flow: wrap;
    justify-content: center;

    width: auto;
    padding: 0;

    list-style: none;

    li {
      margin: 0 .5rem;

      text-align: center;
      word-break: break-word;
    }
  }

  .decorationClose {
    .center {
      display: none;
      position: relative;
      width: 360px;
      vertical-align: unset;
      margin: 10px 0 2rem;
    }
  }

  @media (min-width: 768px) {
    .decorationOpen {
      .left,
      .right {
        display: inline-block;
      }
    }

    .decorationClose {
      .center {
        display: inline-block;
      }
    }

    ul {
      width: 768px;

      li {
        white-space: nowrap;
      }
    }
  }
}
