.PostContent {
  color: var(--primary-foreground);
  text-shadow: var(--primary-foreground-shadow);

  min-width: 0;

  margin-bottom: 1.5rem;

  .title {
    position: relative;
    width: calc(100% - 4px);

    padding: .5rem 1rem;
    margin-bottom: 1rem;

    font-size: 24px;
    font-weight: 600;

    background: var(--window-primary-background);
    box-shadow: var(--window-box-shadow);
  }

  .warn {
    background: var(--window-warn-background);
    box-shadow: var(--window-warn-box-shadow);
    color: var(--feature-error-foreground);
    text-shadow: var(--feature-error-foreground-shadow);

    font-weight: 600;

    padding: .5rem 1rem;
    margin: 1rem 0;
  }

  .body {
    padding: 0 1rem;

    * {
      word-break: break-all;
      text-wrap: auto;
    }

    pre {
      background: var(--window-secondary-background);
      box-shadow: var(--window-box-shadow);
      color: var(--secondary-foreground);
      text-shadow: var(--secondary-foreground-shadow);

      padding: 1rem;
      margin: 1rem 0;

      /* Cause has not been identified, but it's misaligned for some reason. */
      text-indent: -6px;

      code {
        color: var(--primary-foreground);
        text-shadow: var(--primary-foreground-shadow);
        background: unset;
      }
    }

    blockquote {
      padding: 1rem;
      margin: 1rem 0 0 0;

      background: var(--window-secondary-background);
      box-shadow: var(--window-box-shadow);
      color: var(--secondary-foreground);
      text-shadow: var(--secondary-foreground-shadow);

      p:first-of-type {
        padding-top: 0;
      }

      p:last-of-type {
        padding-bottom: 0;
      }
    }

    & > blockquote {
      margin: 1rem 0;
    }

    h1,
    h2,
    h3 {
      margin-top: 1.5rem;
      font-weight: 600;
    }

    h1,
    h2 {
      font-size: 24px;
      border-bottom: 1px solid var(--primary-foreground);

      margin-bottom: .5rem;
    }

    h3 {
      font-size: 18px;
    }

    p {
      padding: .5rem 0;
    }

    code {
      background: var(--code-background);

      padding: .0625rem .25rem;
      margin: 0 .125rem;
      border-radius: 4px;
    }

    ul,
    ol {
      padding: .5rem 1.75rem;
    }

    ul li {
      list-style: disc;

      &:has(> input) {
        margin-left: -1rem;

        list-style: none;

        & > input[type="checkbox"] {
          border-color: var(--checkbox-border-color);
          border-style: solid;
          border-width: 1px;

          margin-right: .25rem;
          -webkit-appearance: none;
          appearance: none;
          width: 20px;
          height: 20px;

          display: inline-block;
          vertical-align: middle;

          &:checked {
            background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 10.8L3.2 8 2 9.2l4 4 8-8L12.8 4l-6.8 6.8z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 12px;
          }

          &:disabled {
            /* Keep default */
          }
        }
      }
    }

    ol li {
      list-style: decimal;
    }
  }

  a {
    color: var(--feature-link-foreground);
    text-shadow: var(--feature-link-foreground-shadow);
  }

  table {
    border: 1px solid var(--table-border-color);

    border-collapse: collapse;
    margin: 1rem 0;

    tr {
      box-shadow: var(--window-box-shadow);
    }

    thead tr {
      background: var(--window-primary-background);
    }

    tbody tr {
      background: var(--window-secondary-background);
    }

    th, td {
      border-left: 0;
      border-right: 0;

      padding: .625rem 1.5rem;
    }
  }

  hr {
    margin: 1rem 0;
  }

  b, strong {
    color: var(--feature-active-foreground);
    text-shadow: var(--feature-active-foreground-shadow);
  }

  s, strike, del {
    color: var(--feature-inactive-foreground);
    text-shadow: var(--feature-inactive-foreground-shadow);
  }

  img {
    background: conic-gradient(#ccc 25%, #fff 0 50%, #ccc 0 75%, #fff 0);
    background-size: 24px 24px;
  }
}

@media (max-width: 900px) {
  .PostContent {
    .title {
      width: 100%;
    }
  }
}
