.Sidebar {
  position: sticky;
  top: calc(var(--gnav-height) + var(--search-height) + 1rem);
  height: fit-content;
  overflow: auto;

  & > :nth-child(n+2) {
    margin-top: -1px;
  }

  .toc {
    position: relative;
    padding: 1rem;

    background: var(--window-primary-background);
    box-shadow: var(--window-box-shadow);
    color: var(--primary-foreground);
    text-shadow: var(--primary-foreground-shadow);

    ul li:nth-of-type(n+2) {
      margin-top: .5rem;
    }
  }

  .meta {
    padding: 1rem;

    background: var(--window-primary-background);
    box-shadow: var(--window-box-shadow);
    color: var(--primary-foreground);
    text-shadow: var(--primary-foreground-shadow);

    .tags {
      ul {
        display: inline-block;

      }
      li {
        display: inline-block;
        margin-right: .5rem;

        a {
          color: var(--feature-link-foreground);
          text-shadow: var(--feature-link-foreground-shadow);
        }
      }
    }

    .date {
      padding-top: .5rem;
    }
  }
}
