.split {
  display: grid;
  grid-template-columns: 1fr var(--toc-w);
  gap: var(--toc-gap);

  width: 100%;
  margin: 0 auto;
  min-height: 100dvh;
  padding: 1rem 0;

  box-sizing: border-box;
}

@media (max-width: 900px) {
  .split {
    grid-template-columns: 1fr;
  }
}
